@import './styles/base.css';
@import './styles/layout.css';
@import './styles/home-sections.css';
@import './styles/tables.css';
@import './styles/clients.css';
@import './styles/components.css';
@import './styles/reports.css';
@import './styles/activities.css';
